# Access transformer for TrunkPlacerType constructor
# Makes the TrunkPlacerType constructor public so it can be used in ModTrunkPlacerTypes
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacerType <init>(Lcom/mojang/serialization/Codec;)V

# Access transformer for FoliagePlacerType constructor
# Makes the FoliagePlacerType constructor public so it can be used in ModFoliagePlacerTypes
public net.minecraft.world.level.levelgen.feature.foliageplacers.FoliagePlacerType <init>(Lcom/mojang/serialization/Codec;)V

# Access transformer for TreeDecoratorType constructor
# Makes the TreeDecoratorType constructor public so it can be used in ModTreeDecoratorTypes
public net.minecraft.world.level.levelgen.feature.treedecorators.TreeDecoratorType <init>(Lcom/mojang/serialization/Codec;)V

# Access transformer for GameRules.BooleanValue.create

# Entity fields access
public net.minecraft.world.entity.Entity f_19853_ # level
public net.minecraft.world.entity.Entity f_19862_ # onGround

